---
const { title, postCode, county, imageUrl, slug, type } = Astro.props;

const fallbackColor = !imageUrl
  ? type === "rural"
    ? "bg-aqua"
    : type === "inter-urban"
      ? "bg-cornflower"
      : "bg-pink"
  : "";
---

<a
  href={`/work/${type}/${slug.current}`}
  class="group block project-card overflow-hidden"
>
  <div
    class={`w-full aspect-square object-cover ${fallbackColor}`}
    style={imageUrl
      ? `background-image: url('${imageUrl}'); background-size: cover; background-position: center;`
      : ""}
  >
    <div class="flex justify-between items-center p-4">
      <span class="text-2xl text-white">{postCode}</span>
      <img
        src="/icons/arrow-up-right.svg"
        alt="arrow"
        class="arrow w-8"
      />
    </div>
    <div
      class="flex flex-col justify-end h-full text-white font-light p-4 overflow-hidden"
    >
      <span class="text-lg">#{title}</span>
      <span class="text-lg">#{type}</span>
      <span class="text-lg">#{county}</span>
    </div>
  </div>
</a>
