---
import BaseLayout from "../../layouts/BaseLayout.astro";
import PageDotGrid from "../../components/PageDotGrid.astro";
import Hero from "../../components/Hero.astro";
import { sanity } from "../../lib/sanityClient";
import { getProjectBySlugQuery } from "../../lib/queries";
import ContentBlock from "../../components/ContentBlock.astro";
import ProjectMeta from "../../components/ProjectMeta.astro";

const { slug } = Astro.params;

export async function getStaticPaths() {
  const projects = await sanity.fetch(
    `*[_type == "project"]{ "slug": slug.current }`
  );
  return projects.map((p: { slug: any }) => ({ params: { slug: p.slug } }));
}

const projectInfo = await sanity.fetch(getProjectBySlugQuery, { slug });

const seoTitleParts = [
  projectInfo.title,
  projectInfo.type
    ? `- ${projectInfo.type.charAt(0).toUpperCase() + projectInfo.type.slice(1)} Project`
    : null,
  projectInfo.county ? `in ${projectInfo.county}` : null,
  "Butcher Bayley Architects",
].filter(Boolean);

console.log(seoTitleParts);
console.log(projectInfo);
---

<BaseLayout title={seoTitleParts.join(" | ")}>
  <PageDotGrid />
  <article class="min-h-[100vh]">
    {
      projectInfo.imageUrl && (
        <Hero
          image={projectInfo.imageUrl}
          alt={projectInfo.altText}
          scrollTarget="projects"
        />
      )
    }
    <section class="px-4 md:px-8 mt-12 mb-12 md:mt-32 md:mb-0">
      <ProjectMeta projectInfo={projectInfo} />
    </section>

    {
      projectInfo.contentBlocks && (
        <div class="md:-mt-36">
          <ContentBlock blocks={projectInfo.contentBlocks} />
        </div>
      )
    }
  </article>
</BaseLayout>
